{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
    <div class="navbar">
    <a href="article/create">Add tasks</a>
    </div>
{% endblock %}
{% block content %}
    {% for article in articles %}
    <h2>{{article.name}}</h2>
    <h2>{{article.email}}</h2>
    <h2>{{article.text}}</h2>
    <h2><a href="{% url 'article_delit' article.pk%}">Delete</a></h2>
    <h2><a href="{% url 'article_update' article.pk%}" style="margin: 50px">Update</a></h2>
    <hr>
    {% endfor %}
{% endblock %}